body {
    overflow: show;
}
.container {
  display: grid;
  grid-template-columns: 1fr 35%;
  grid-template-rows: 17vh auto 25vh;
  justify-content: center;
  gap: 0px;
  margin-top: 0px;
  height: 100vh;
  border: 5px solid lightblue;
}
.container > * {
  border: 2px solid lightblue;
}
header {
    grid-column: 1 / -1;
}
main {
    grid-column: 1;
    grid-row: span 2;
}
aside {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  overflow-y: auto;
}

aside img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

.container > .aside p {
  margin-bottom: 20px;
  text-align: center;
}

.container > .sound {

}
#div1 {
  background-color: lightcoral;
}
#div2 {
  background-color: aqua;
}
#div3 {
  background-color: lightblue;
}
