body {
  overflow: show;
}
.container {
  display: grid;
  grid-template-columns: 1fr 35%;
  grid-template-rows: 12vh auto 32vh repeat(2, auto);
  justify-content: center;
  gap: 0px;
  margin-top: 0px;
  height: 100vh;
  border: 5px solid lightblue;
}
.container > * {
  border: 2px solid lightblue;
}
header {
  display: flex;
  grid-column: 1 / -1;
  text-align: center;
  background-color: var(--Blå--);
}
header img {
  margin-top: 30%;
  margin-left: 30%;
  width: 50px;
  height 50px;
}
header h1 {
  margin: 1%;
  width: 90%;
}
main {
  grid-column: 1;
  grid-row: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
main div {
  border: solid 2px black;
  height: 80%;
  width: 80%;
  border-radius: 15px;
  padding: 20px;
  margin: 5px;
}
aside {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  overflow-y: auto;
}

aside img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

.container > .aside p {
  margin-bottom: 20px;
  text-align: center;
}
audio {
  width: 100%;
}
#div1,
#div2 {
  background-color: var(--LysGrønn--);
}

@media (width<800px) {
  body > .container {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto auto auto 1fr;
    height: auto;
  }
  aside {
    grid-column: 1;
    grid-row: span 2;
  }
  main div {
    height: fit-content;
    width: fit-content;
  }
}
