body {
  overflow: show;
}

.container {
  display: grid;
  grid-template-columns: 1fr 35%;
  grid-template-rows: 12vh auto 32vh repeat(2, auto);
  justify-content: center;
  gap: 0px;
  margin-top: 0px;
  height: 100vh;
  border: 5px solid lightblue;
}

.container>* {
  border: 2px solid lightblue;
}

header {
  display: flex;
  grid-column: 1 / -1;
  text-align: center;
  background-color: var(--Blå--);
}

header img {
  margin-top: 30%;
  margin-left: 30%;
  width: 50px;
  height: 50px;
}

header h1 {
  margin: 1%;
  width: 90%;
}

.opptakbakrunn, .komprimeringbakrunn{
  background-image: url(bilder/200w.gif);
}
.digitaliseringbakrunn{ 
  background-image: url(bilder/musical-notes-animation-download-in-lottie-json-gif-static-svg-file-formats--music-note-tone-melody-pack-entertainment-animations-4657366.gif);
}

main {
  grid-column: 1;
  grid-row: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main div {
  border: solid 2px black;
  height: 80%;
  width: 80%;
  border-radius: 15px;
  padding: 20px;
  margin: 5px;
}

main section {
  margin-top: 5%;
  margin-bottom: 5%;
}

aside {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  overflow-y: auto;
}

aside img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

.container>.aside p {
  margin-bottom: 20px;
  text-align: center;
}

audio {
  width: 100%;
}

#div1,
#div2 {
  background-color: var(--LysGrønn--);
}

#aside_opptak {
  grid-row: span 2;
}

@media (width<800px) {
  body>.container {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto auto auto 1fr;
    height: auto;
  }

  aside {
    display: flex;
    flex-direction: row;
    grid-column: 1;
    grid-row: span 2;
    background-color: var(--LysGrønn--);
  }

  aside div {
    width: 50%;
    margin: 2px;
  }

  main div {
    height: fit-content;
    width: fit-content;
  }

  header img {
    margin-top: 23%;
    margin-left: 20%;
    width: 45px;
    height: 45px;
  }
}