* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

:root {
    --MørkGrønn--: #214E34;
    --Grønn--: #A1CDA8;
    --LysGrønn--: #B5DFCA;
    --VeldigLysGrønn--: #C5E7E2;
    --Blå--: #337CA0;
}

.overskrift {
    background-color: var(--Blå--);
    text-align: center;
    padding: 1px;
    margin: 0;
    font-size: 25px;
}

.container>div{
    border: 1px solid black;
    background-color: aliceblue;
    height: 100px;
}

.container{
    display: grid;
    grid-template-columns: 200px 400px 400px;
    justify-content: center:
    gap: 50px;
    margin-top: 80px;
}

h1{
    text-align: center;
}
